body{
    color:goldenrod
}

.questions{

    margin: 0 auto;
    width: 70%;
    border-radius: 80px 10px 80px 10px;
    background-color: darkgreen;
    font-size: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    justify-content: center;
    text-align: center;
}
.choice-container{
    margin: 0 auto;
    margin-bottom: 20px;
    width: 70%;
    border-radius: 50px;
    background-color: rgb(5, 57, 5);
    border-style: solid;
    border-width: 3px;
    border-color: black;
    justify-content: center;
    align-items: center;
}

.correct {
    background:linear-gradient(32deg blue 0%);
}

.incorrect {
    background:linear-gradient(32deg red 0%);
}