
*{
    background-color: rgb(1, 30, 1);
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: goldenrod;
    margin: 10px;
    padding: 2px;
    font-size: 24px;

}
#startPage{
    background-color: rgb(1, 30, 1);
    border-radius: 35px;
    font-family: 'Montserrat', sans-serif;
    display:flex; 
    flex-direction:column; 
    align-items: center;
    justify-content:center;
    margin:auto;
    border: 1px;
    overflow: hidden;

}
#startButton{
    color:#5d0306;
    font-weight: bolder;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 60px;
}
.outer-container{
    background-color: blue;
    font-family: 'Montserrat', sans-serif;
    display: none; 
    flex-direction:column; 
    align-items: center;
    justify-content:center;
    min-height:100vh;
    margin:auto;
    border: 1px;
    overflow: hidden;
}
.top-bar{
    background-color: rgb(7, 34, 3); 
    border-radius: 25px;;
}
#countdown {
    font-size: 36px;
}
h2,h3{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
}  
button{
    background-color: rgb(1, 30, 1);
    color: goldenrod;
    padding: 15px 32px;
    text-align: center;
    word-wrap: normal;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    margin-bottom: 1rem;
}
.quiz-container{
    background-color:black;

    flex-direction: column;
    margin: auto;
}
.choicesSec{
    color: goldenrod;
    display: flex;
    flex-direction: column;
    border: 1px;
    margin:  auto;
}
#endPage{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
} 
#endPage h2{
    font-size: 2rem;
    font-weight: 16pt;
    margin-bottom: 1rem;
    text-align: center;
}
/* 
----------High score page
*/ 
.highScores{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}
/* 
#msg {
    visibility: hidden;
    margin-top: 20px;
    font-weight: 700;
    height: 10px ;
    font-size: 1.2em;
  }
  
  #msg.success,
  #msg.error {
    visibility: visible;
  }
  
  #msg.success {
    color: goldenrod;
  }
  
  #msg.error {
    color: #5d0306;
  } */
  @media screen and (min-width: 960px)   {
    
  }
  @media screen and (min-width: 764px)   {
      
  }
